@charset "utf-8";


body{

    background-color:red;
    
    }
    
    h1{
                  background: black;
                  padding: 0em;/*文字まわり（上下左右）の余白*/
                 color: honeydew;
                 padding-left: 0px;
                 text-align: center;
                 font-size:60px;
             }
    
    h2{
    
        color:honeydew;
        text-align:center;
        font-size:50px;
    }
    p{   
        color:honeydew;
        text-align:left;
        font-weight: bold;
        font-size:40px;
    
    }
    
    
    
    
    
    p1{
    
    color:black;
        text-align:left;
        font-size:30px;
    
    }
        
    
    